
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex align-items-center">
            <!-- <h1 class="logo me-auto"><a href="index.html">Medilab</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo me-auto"><img src="../../../../assets/images/logo.png" alt="" class="img-fluid"></a>
            <div class="super-container">
                <div class="home-icon">
                    <a href="index.html">
                        <img src="../../../../assets/images/home.png" alt="home">
                    </a>
                </div>
                <div class="slide-container">
                    <div class="stripe toggle-nav js-nav">
                        <div class="hamburger-box" (click)="burgerclick()">
                            <div class="bun top"></div>
                            <div class="meat"></div>
                            <div class="bun bottom"></div>
                        </div>
                    </div>
                    <div class="nav-wrap">
                        <nav class="menu">
                            <ul>
                                <li><a href="#">Option 1</a></li>
                                <li><a href="#">option 2</a></li>
                                <li><a href="#">Option 3</a></li>
                                <li><a href="#">Option 4</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- End Header -->
    <main id="main" class="chat-bg">
        <section id="services" class="services p-0 min-height">
            <div class="container min-height">
                <div class="full-text min-height">
                    <div class="main-text">
                        <h1 class="text-center position-relative section-title animate__animated wow animate__fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Chat<span>Buddy</span>
                            <div class="info"><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../../../../assets/images/info-ico-w.png" alt=""></a></div>
                        </h1>
                        <p class="text-shadow wow animate__animated animate__fadeInDown animate__delay-1s" data-wow-duration="2s" data-wow-delay="2s">Chat Anonymously <br>About Ups And Downs Of Life</p>
                    </div>
                    <div class="text-inner">
                        <h2 class="text-shadow wow animate__animated animate__fadeInDown animate__delay-2s" data-wow-duration="3s" data-wow-delay="3s">Find Solutions</h2>
                        <p class="text-shadow wow animate__animated animate__fadeInDown animate__delay-3s" data-wow-duration="4s" data-wow-delay="4s">This is an external url link provided by HAPPILY. <br> Use your username and PIN to sign-up.</p>
                        <button type="button" class="player-btn wow animate__animated animate__fadeInDown animate__delay-3s" data-wow-duration="4s" data-wow-delay="4s"> Go To Chat Buddy <img src="../../../../assets/images/share.png" alt="share" class="ms-2"></button>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- info modal -->
    <div class="modal fade info-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="cls-btn"> <span> <a href="javascript:;" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></a></span></div>
                <div class="modal-body">
                    <div class="modal-text">
                        <h3>ENJOY THE FUN BUDDY !</h3>
                        <h3 class="text-yellow">Listening to your favorites <br> and singing along with <br> them is fun and relaxing.</h3>
                        <h3>So, what’s new?</h3>
                        <p><em class="text-yellow"> HAPPILY’S </em>FORMULA FOR HAPPINESS is based on proven science, not traditions, or hearsay. Hence all music clips are short.</p>
                        <p>The same applies to singing along with your favorite singer. Short spurts, a few times a day will help your happiness.</p>
                        <p>The <em class="text-yellow"> FUN BUDDY </em> gives you a simple trimming tool, to trim your favorites to bite size pieces.</p>
                        <p>And ONLY YOU can listen and sing to the clips you have uploaded on our server.</p>
                        <p class="text-yellow">And wait, a surprise is soon coming your way! Our specially created clips will help you learn to sing. You will be thrilled! Until then, SUSH!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   